<!DOCTYPE html>
<html>

<head>
    <title>Whatsapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style.css' %>
</head>


<body>
    <%= yield %>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script>
        $(function() {
            $(".chat-list-wrapper, .message-list-wrapper").niceScroll();
        })
    </script>
</body>

</html>